form{
	padding:75px;
	border-radius: 5px;
	box-sizing: border-box;
}
input[type=text], select {
	float:right;
	text-align: right;
	width: 60%;
	padding: 12px 20px;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
}
input[type=password], select {
	float:right;
	text-align: right;
	width: 60%;
	padding: 12px 20px;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
}
input[type=submit] {
	background-color: #00af52;
	font-size: 15px;
	color: white;
	padding: 14px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	float:left;
}

label, p{	
	padding-top:20px;
	padding-left:50px;
	padding-right:50px;
	float:right;
	text-align: right;
}
