ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-width: 90px;
    border-radius:5px;
    background-color: #281c1c;
  }

  li a {
    display: block;
    color: white;
    padding: 14px 16px;
    padding-right:100px;
    padding-left:100px;
    text-decoration: none;
  }
  li a{
      font-weight: bold;
  }
  li a:hover {
    background-color: #FFB833;
  }
  .active{
    background-color: #f8f8f8;
    color:#281c1c;
  }
  .left{
      float: left;
      color: #ef374c;
  }
  .right{
      float: right;
  }
  .image{
    padding-top:2px;
    padding-left: 50px;
    padding-right: 50px;
  }

  