ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-left: #FFB833;
    border-width: 90px;
    border-radius:5px;
    background-color: #281c1c;
  }
  li {
    float: right;
  }

  li a {
    display: block;
    color: white;
    padding: 14px 16px;
    padding-right:100px;
    padding-left:100px;
    text-decoration: none;
  }
  li a{
      font-weight: bold;
  }
  li a:hover {
    background-color: #FFB833;
  }
  .active{
    background-color: #FFB833;
  }